---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import { SEOMetadata } from 'astro-seo-metadata';

import '../styles/index.css';
import '../styles/transitions.css';
import '../styles/animations.css';
import '../styles/backgrounds.css';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='theme-color' content='#ad475a' />

    <SEOMetadata
      siteName='QuevDev'
      title={title}
      description="A portfolio showcasing the projects I've created, including web applications, music, and game development projects."
      image='https://i.imgur.com/GFxuk1T.png'
      favicon='/favicon.ico'
      author='QuevDev'
      copyright='© 2023 QuevDev'
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type='website'
      astroGenerator={true}
    />
  </head>
  <body>
    <slot />
    <style is:global></style>

    <script>
      import AOS from 'aos';
      import 'aos/dist/aos.css';

      AOS.init();
    </script>
  </body>
</html>
